.btn {
  display: block;
  border-radius: 5px;
  border: 3px solid var(--c-accent);
  padding: 5px 19px;
  color: var(--c-dark);
  font-family: var(--font-family-secondary);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  transition: background 0.2s, color 0.2s, border 0.2s;
  cursor: pointer;

  @include hover {
    background: var(--c-accent);
    color: var(--c-light);
  }

  &:active {
    transform: scale(0.98);
  }

  &--secondary {
    font-family: var(--font-family);
    border-radius: 6px;
    border: 3px solid transparent;
    background: var(--c-gray-blue);
    color: var(--c-light);
    padding: 9px 25px;
    @include hover {
      border: 3px solid var(--c-accent);
      background: transparent;
      color: var(--c-dark);
    }
  }

  &--secondary-accent {
    background: var(--c-accent);
    color: var(--c-light);
    padding: 9px 25px;

    @include hover {
      background: transparent;
      color: var(--c-dark);
    }
  }
}
