.security {
  &__top {
    margin-bottom: 100px;

    @include small-tablet {
      margin-bottom: 30px;
    }
  }
  &__title {
    max-width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  &__desc {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
  }

  &__verefication {
    display: flex;
    align-items: center;
    @include small-tablet {
      flex-direction: column;
    }
  }

  &__pic {
    @include small-tablet {
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    font-size: 19px;
    letter-spacing: 0.6px;
    margin-bottom: 15px;
    @include small-tablet {
      text-align: center;
    }
  }

  &__caption {
    max-width: 470px;
    font-size: 15px;
    margin-bottom: 15px;
  }
  &__download {
    margin-top: 30px;
  }
}
