/* Base */
:root {
  --font-family: "Poppins", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;
  --content-width: 1213px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --c-light: #f3fcff;
  --c-light-beige: #fffcf5;
  --c-dark: #000000;
  --c-gray: #535359;
  --c-ash-gray: #8f8f8f;
  --c-gray-blue: #455a64;
  --c-steel-gray: #37474f;
  --c-black: #393939;
  --c-black-grey: #353642;
  --c-dark-gray: #424242;
  --c-accent: #fe9563;
  --c-orange: #ffb30c;
  --c-charcoal-gray: #2e2e2e;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  background: var(--c-light-beige);
}
.page__body.locked {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.site-container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.logo__img {
  display: block;
}

.section-title {
  color: var(--c-gray-blue);
  font-family: var(--font-family);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  max-width: 414px;
  margin: 0;
  margin-bottom: 17px;
}
@media (max-width: 1024px) {
  .section-title {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .section-title {
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .section-title {
    text-align: center;
  }
}
.section-title--black {
  color: var(--c-dark);
}
.section-title--black-grey {
  color: var(--c-black-grey);
}

.section-subtitle {
  color: var(--c-steel-gray);
  font-family: var(--font-family-secondary);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
}
@media (max-width: 1024px) {
  .section-subtitle {
    font-size: 16px;
  }
}

.section-desc {
  color: var(--c-gray);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.5px;
  margin: 0;
  max-width: 450px;
}
@media (max-width: 1024px) {
  .section-desc {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .section-desc {
    text-align: center;
  }
}
.section-desc--secondary {
  font-family: var(--font-family-secondary);
  color: var(--c-black);
}

.section-pic {
  display: flex;
  flex: 0 0 auto;
  width: 50%;
  justify-content: center;
  overflow: hidden;
  padding: 0 25px;
}
@media (max-width: 768px) {
  .section-pic {
    padding: 0;
  }
}

.section-content {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  width: 50%;
  padding: 0 25px;
}
@media (max-width: 768px) {
  .section-content {
    width: 100%;
    margin-bottom: 30px;
  }
}

.overlaybg {
  right: 0;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.overlaybg._active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

.pt-115 {
  padding-top: 115px;
}
@media (max-width: 768px) {
  .pt-115 {
    padding-top: 90px;
  }
}
@media (max-width: 576px) {
  .pt-115 {
    padding-top: 70px;
  }
}

.block-style {
  border-radius: 48.742px;
  background: linear-gradient(300deg, #f5f2eb 1.26%, #f7e6cb 100.49%);
  box-shadow: 5.53883px 5.53883px 28.8019px 0px #dd8762;
}

/* Blocks */
.btn {
  display: block;
  border-radius: 5px;
  border: 3px solid var(--c-accent);
  padding: 5px 19px;
  color: var(--c-dark);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  transition: background 0.2s, color 0.2s, border 0.2s;
  cursor: pointer;
}
@media (any-hover: hover) {
  .btn:hover {
    background: var(--c-accent);
    color: var(--c-light);
  }
}
.btn:active {
  transform: scale(0.98);
}
.btn--secondary {
  border-radius: 6px;
  border: 3px solid transparent;
  background: var(--c-gray-blue);
  color: var(--c-light);
  padding: 9px 25px;
}
@media (any-hover: hover) {
  .btn--secondary:hover {
    border: 3px solid var(--c-accent);
    background: transparent;
    color: var(--c-dark);
  }
}
.btn--secondary-accent {
  background: var(--c-accent);
  color: var(--c-light);
  padding: 9px 25px;
}
@media (any-hover: hover) {
  .btn--secondary-accent:hover {
    background: transparent;
    color: var(--c-dark);
  }
}

.header {
  padding-top: 33px;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .header__wrap {
    justify-content: space-between;
  }
}
.header--position {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 10;
}
.header__btn {
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .header__btn {
    max-width: 150px;
    text-align: center;
  }
}

.nav {
  display: flex;
}
@media (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 240px;
    max-width: 375px;
    background: var(--c-light-beige);
    padding: 80px 20px 20px;
    transform: translateX(-100%);
    transition: transform 0.2s;
    z-index: -1;
  }
}
.nav._active {
  transform: translateX(0);
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
@media (max-width: 768px) {
  .nav__list {
    flex-direction: column;
    padding: 0;
  }
}
.nav__item {
  padding: 5px 13px;
}
@media (max-width: 768px) {
  .nav__item {
    padding: 15px 10px;
  }
}
.nav__item--dropdown {
  position: relative;
}
.nav__item--dropdown::after {
  content: "";
  display: block;
  position: absolute;
  right: 0px;
  top: calc(50% - 3px);
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border: 0 solid transparent;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top: 6px solid var(--c-accent);
}
@media (max-width: 768px) {
  .nav__item--dropdown::after {
    border-left-width: 6px;
    border-right-width: 6px;
    border-top: 6px solid var(--c-dark);
  }
}
.nav__link {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--c-dark);
  transition: color 0.2s ease-in;
}
@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--c-accent);
  }
}
.nav__link:active {
  opacity: 0.7;
}
@media (max-width: 768px) {
  .nav__link {
    font-size: 16px;
  }
}

.burger {
  --time: 0.1s;
  --width: 30px;
  --height: 24px;
  --line-height: 3px;
  --spacing: 6px;
  --color: var(--c-dark);
  --radius: 5px;
  height: calc(var(--line-height) * 3 + var(--spacing) * 2);
  width: var(--width);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.burger__line {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  border-radius: var(--radius);
}
.burger__line::after, .burger__line::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  border-radius: var(--radius);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}
.burger__line::before {
  top: calc(-1 * (var(--line-height) + var(--spacing)));
}
.burger__line::after {
  top: calc(var(--line-height) + var(--spacing));
}
.burger__line--active {
  background-color: transparent;
}
.burger__line--active::after, .burger__line--active::before {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  background-color: var(--c-light);
}
.burger__line--active::before {
  transform: rotate(45deg);
}
.burger__line--active::after {
  transform: rotate(-45deg);
}
@media (max-width: 768px) {
  .burger {
    display: flex;
  }
}

.promo {
  position: relative;
  min-height: 726px;
  background: linear-gradient(178deg, #fffbf0 4.22%, #f7e6cc 98.53%);
  z-index: 2;
}
@media (max-width: 1024px) {
  .promo {
    min-height: 670px;
  }
}
@media (max-width: 900px) {
  .promo {
    min-height: 600px;
  }
}
.promo::before {
  content: "";
  position: absolute;
  background-image: image-set(url("../img/promo/promo-bg2@1x.png") 1x, url("../img/promo/promo-bg2@2x.png") 2x);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 768px) {
  .promo::before {
    background-position: inherit;
  }
}
.promo__wrap {
  padding-top: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .promo__wrap {
    flex-direction: column;
    padding-top: 120px;
  }
}
@media (max-width: 768px) {
  .promo__title {
    text-align: center;
  }
}
.promo__block {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .promo__block {
    align-items: center;
  }
}
@media (max-width: 768px) {
  .promo__pic {
    width: 100%;
  }
}
.promo__desc {
  margin-bottom: 32px;
}
.promo__cta {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}
@media (max-width: 576px) {
  .promo__cta {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.promo__link {
  display: flex;
  align-items: center;
  color: var(--c-gray-blue);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  transition: opacity 0.2s;
}
.promo__link:hover {
  opacity: 0.8;
}
.promo__icon {
  display: block;
  width: 21px;
  height: 26px;
  fill: var(--c-accent);
  padding-right: 6px;
}
.promo__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.promo__wave svg {
  vertical-align: bottom;
}

.advantages {
  display: flex;
}
@media (max-width: 576px) {
  .advantages {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.advantages__item {
  position: relative;
  padding-right: 6px;
  margin: 0;
}
.advantages__item:last-child {
  padding-right: 0;
}
.advantages__item:not(:first-child) {
  padding-left: 6px;
}
.advantages__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--c-accent);
}
.advantages__text {
  margin: 0;
  display: inline-block;
  color: var(--c-gray-blue);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 36px;
}
@media (max-width: 1024px) {
  .card {
    padding: 30px 20px;
  }
}
.card__icon {
  width: 76px;
  height: 76px;
  object-fit: cover;
  border-radius: 12px;
  background: var(--c-accent);
  padding: 18px 15px;
  margin-bottom: 16px;
}
@media (max-width: 1024px) {
  .card__icon {
    width: 56px;
    height: 56px;
    padding: 12px;
  }
}
.card__svg {
  width: 100%;
  height: 100%;
  fill: var(--c-light);
}
.card__title {
  margin-bottom: 10px;
  text-align: center;
}
.card__desc {
  text-align: center;
}

.features .features__top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 60px;
}
@media (max-width: 768px) {
  .features .features__top {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}
.features__body {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .features__body {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .features__title {
    text-align: center;
    max-width: 100%;
  }
}
.features__text:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .features__text {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .features__pic {
    margin-bottom: 15px;
  }
}
.features__wrap {
  display: flex;
  align-items: center;
  padding: 136px 0;
}
@media (max-width: 768px) {
  .features__wrap {
    flex-direction: column;
    padding: 60px 0;
    background: linear-gradient(300deg, #f5f2eb 1.26%, #f7e6cb 100.49%);
  }
}
.features__content {
  flex-direction: column;
  align-items: center;
}
.features__card {
  max-width: 490px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}
.features__card:not(:last-child) {
  margin-bottom: 17px;
}
@media (max-width: 768px) {
  .features__card {
    flex-direction: column;
    align-items: center;
  }
}
.features__icon {
  margin-right: 15px;
}
@media (max-width: 768px) {
  .features__icon {
    margin-right: 0;
  }
}
.features__subtitle {
  text-align: start;
}
@media (max-width: 768px) {
  .features__subtitle {
    text-align: center;
  }
}
.features__desc {
  text-align: start;
  max-width: 319px;
}
@media (max-width: 768px) {
  .features__desc {
    text-align: center;
    max-width: 100%;
  }
}

.security__top {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .security__top {
    margin-bottom: 30px;
  }
}
.security__title {
  max-width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.security__desc {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
.security__verefication {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .security__verefication {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .security__pic {
    margin-bottom: 30px;
  }
}
.security__subtitle {
  font-size: 19px;
  letter-spacing: 0.6px;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .security__subtitle {
    text-align: center;
  }
}
.security__caption {
  max-width: 470px;
  font-size: 15px;
  margin-bottom: 15px;
}
.security__download {
  margin-top: 30px;
}

.download {
  display: flex;
  gap: 13px;
}
@media (max-width: 768px) {
  .download {
    justify-content: center;
  }
}

.automation__wrap {
  display: flex;
  align-items: center;
  padding-top: 116px;
  padding-bottom: 146px;
}
@media (max-width: 768px) {
  .automation__wrap {
    flex-direction: column-reverse;
    padding: 60px 0;
  }
}
@media (max-width: 768px) {
  .automation__pic {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .automation__content {
    margin-bottom: 0;
  }
}
.automation__title {
  max-width: 459px;
}
@media (max-width: 768px) {
  .automation__title {
    max-width: 100%;
    text-align: center;
  }
}
.automation__caption {
  max-width: 395px;
  margin-bottom: 19px;
}
@media (max-width: 768px) {
  .automation__caption {
    max-width: 100%;
  }
}
.automation__card {
  flex-direction: row;
  border-radius: 13px;
  background: var(--c-light);
  padding: 16px;
  box-shadow: 0px 9px 17px 0px rgba(0, 0, 0, 0.09);
}
.automation__card:not(:last-child) {
  margin-bottom: 23px;
}
@media (max-width: 768px) {
  .automation__card {
    flex-direction: column;
    padding: 30px 20px;
  }
}
.automation__icon {
  width: 33px;
  height: 33px;
  padding: 5px;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .automation__icon {
    margin-right: 0;
    width: 56px;
    height: 56px;
    padding: 10px;
  }
}
.automation__subtitle {
  text-align: start;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .automation__subtitle {
    text-align: center;
    margin-bottom: 5px;
  }
}
.automation__desc {
  text-align: start;
}

.command__wrap {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .command__wrap {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .command__pic {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .command__content {
    margin-bottom: 0;
  }
}
.command__title {
  max-width: 459px;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .command__title {
    text-align: center;
    max-width: 100%;
  }
}
.command__desc {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .command__desc {
    max-width: 100%;
  }
}
.command__cta {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .command__cta {
    justify-content: center;
  }
}

.benefits__top {
  margin-bottom: 74px;
}
.benefits__title {
  text-align: center;
  max-width: 100%;
}
.benefits__desc {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}
.benefits__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 60px;
  margin-bottom: 85px;
}
@media (max-width: 768px) {
  .benefits__card {
    grid-template-columns: 1fr;
  }
}
.benefits__bottom {
  display: flex;
  align-items: center;
  padding: 72px 0;
}
@media (max-width: 768px) {
  .benefits__bottom {
    flex-direction: column-reverse;
    padding: 60px 0;
  }
}
.benefits__pic {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .benefits__content {
    margin-bottom: 0;
  }
}
.benefits__subtitle {
  font-size: 38px;
  color: var(--c-dark-gray);
}
@media (max-width: 768px) {
  .benefits__subtitle {
    text-align: center;
    max-width: 100%;
    font-size: 28px;
  }
}
.benefits__text:not(:last-child) {
  margin-bottom: 13px;
}
@media (max-width: 768px) {
  .benefits__text {
    max-width: 100%;
  }
}

.share {
  background-image: image-set(url("../img/share/share-bg@1x.png") 1x, url("../img/share/share-bg@2x.png") 2x);
  background-position: center calc(100% - 34px);
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .share {
    background-position: center calc(100% - 100px);
    background-size: contain;
  }
}
.share__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.share__title {
  text-align: center;
  max-width: 100%;
}
.share__desc {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 56px;
  text-align: center;
}
.share__pic {
  margin-bottom: 65px;
}
@media (max-width: 768px) {
  .share__pic {
    margin-bottom: 30px;
  }
}
.share__cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.share__btn {
  margin-bottom: 23px;
}
.share__item:not(:last-child)::after {
  background: var(--c-dark);
}
.share__text {
  color: var(--c-dark);
}

.stories__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 25px 46px 25px;
}
.stories__title {
  max-width: 100%;
}
.stories__desc {
  text-align: center;
  max-width: 625px;
  margin-bottom: 25px;
}

.userdata__wrap {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .userdata__wrap {
    flex-direction: column;
  }
}
.userdata__title {
  max-width: 440px;
}
@media (max-width: 768px) {
  .userdata__title {
    text-align: center;
    max-width: 100%;
  }
}
.userdata__desc {
  margin-bottom: 18px;
}
.userdata__desc:last-child {
  margin-bottom: 0;
}

.activity__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activity__title {
  max-width: 641px;
  text-align: center;
  color: var(--c-charcoal-gray);
  letter-spacing: 0.42px;
  margin-bottom: 52px;
}
.activity__result {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 30px;
  padding: 56px 25px 66px 25px;
}
@media (max-width: 768px) {
  .activity__result {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
  }
}
.activity__subtitle {
  font-weight: 600;
  font-size: 30px;
  max-width: 464px;
  letter-spacing: 0.3px;
}
@media (max-width: 1024px) {
  .activity__subtitle {
    max-width: 380px;
  }
}
@media (max-width: 768px) {
  .activity__subtitle {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .activity__subtitle {
    font-size: 24px;
  }
}
.activity__counter, .activity__score {
  font-weight: 600;
  font-size: 54px;
  margin: 0;
}
@media (max-width: 1024px) {
  .activity__counter, .activity__score {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .activity__counter, .activity__score {
    text-align: center;
    font-size: 36px;
  }
}
.activity__caption, .activity__total {
  display: block;
  max-width: 170px;
  font-weight: 600;
  margin: 0;
}
@media (max-width: 768px) {
  .activity__caption, .activity__total {
    text-align: center;
  }
}
.activity__stars {
  display: flex;
  margin-bottom: 7px;
}
@media (max-width: 768px) {
  .activity__stars {
    justify-content: center;
  }
}
.activity__star {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.activity__star-icon {
  width: 100%;
  height: 16px;
  fill: var(--c-orange);
}

.faq__title {
  max-width: 100%;
  text-align: center;
}
.faq__desc {
  max-width: 567px;
  margin: 0 auto 44px;
  text-align: center;
}
.faq__answers {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
@media (max-width: 768px) {
  .faq__answers {
    flex-direction: column;
  }
}
.faq__answer {
  margin-bottom: 19px;
}
.faq__subtitle {
  margin-bottom: 10px;
}
.faq__text {
  color: var(--c-black);
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .faq__text {
    text-align: start;
    max-width: 100%;
  }
}
.faq__more {
  margin-bottom: 36px;
}

.form-box {
  max-width: 100%;
}
.form-box__wrap {
  display: flex;
}
@media (max-width: 476px) {
  .form-box__wrap {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
.form-box__input {
  flex: 1;
  color: var(--c-ash-gray);
  font-weight: 400;
  border-radius: 16px 0 0 16px;
  border: 0.5px solid var(--c-accent);
  padding: 20px 27px;
  max-width: 100%;
  outline: none;
}
@media (max-width: 476px) {
  .form-box__input {
    border-radius: 16px;
  }
}
.form-box__btn {
  border-radius: 0px 8px 8px 0px;
  padding: 17px 68px;
  font-weight: 400;
}
@media (max-width: 576px) {
  .form-box__btn {
    padding: 17px 42px;
  }
}
@media (max-width: 476px) {
  .form-box__btn {
    border-radius: 8px;
  }
}

.unlimited__wrap {
  display: flex;
  align-items: center;
  padding: 60px 0;
}
@media (max-width: 768px) {
  .unlimited__wrap {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .unlimited__title {
    max-width: 100%;
    text-align: center;
  }
}
.unlimited__desc {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .unlimited__desc {
    max-width: 100%;
    text-align: center;
  }
}
.unlimited__cta {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .unlimited__cta {
    justify-content: center;
  }
}
.unlimited__advantages {
  margin-bottom: 22px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .unlimited__advantages {
    justify-content: center;
  }
}

.footer__wrap {
  display: flex;
  justify-content: center;
  gap: 42px;
  margin-bottom: 43px;
}
@media (max-width: 1024px) {
  .footer__wrap {
    flex-direction: column;
  }
}
.footer__logo {
  margin-bottom: 10px;
}
.footer__desc {
  max-width: 303px;
  margin-bottom: 17px;
  color: var(--c-black);
}
@media (max-width: 1024px) {
  .footer__desc {
    max-width: 640px;
    text-align: start;
  }
}
.footer__download {
  justify-content: flex-start;
}
.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 5vw;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .footer-nav {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer-nav__title {
  font-size: 15px;
  margin-bottom: 15px;
}
.footer-nav__link {
  font-weight: 400;
  transition: color 0.2s ease-in;
}
@media (any-hover: hover) {
  .footer-nav__link:hover {
    color: var(--c-accent);
  }
}
.footer-nav__link:active {
  opacity: 0.7;
}
.footer__input {
  font-size: 11px;
  padding: 13px 18px;
}
.footer__btn {
  font-size: 14px;
  padding: 11px 40px;
}
.footer__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .footer__box {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }
}
.footer__bottom {
  padding: 23px 0;
  background: linear-gradient(90deg, #f7e6cb 0%, #f5f2ea 99.44%);
}
.footer__copyright, .footer__link {
  font-size: 13px;
  color: var(--c-black);
  font-weight: 400;
}
.footer-social {
  display: flex;
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social__link {
  display: block;
  transition: opacity 0.2s;
}
@media (any-hover: hover) {
  .footer-social__link:hover {
    opacity: 0.5;
  }
}
.footer-social__icon {
  width: 28px;
  height: 28px;
  fill: var(--c-accent);
  stroke: var(--c-light);
}
.footer__contacts {
  display: flex;
}
.footer__contact:hover .footer__icon {
  transform: scale(1.1);
}
.footer__link {
  display: flex;
}
.footer__email {
  margin-right: 7px;
}
.footer__icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 10px;
  fill: var(--c-accent);
  transition: transform 0.2s;
}
.footer__span {
  padding: 1px;
}
/*# sourceMappingURL=main.css.map */