<section class="activity pt-115">
  <div class="container">
    <div class="activity__wrap">
      <h2 class="section-title activity__title">
        Discover powerful features to boost your productivity
      </h2>
      <div class="activity__pic">
        <picture class="picture">
          <source
            srcset="
              img/activity/activity@1x.webp,
              img/activity/activity@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="img/activity/activity@1x.png"
            srcset="
              img/activitys/activity@1x.png,
              img/activity/activity@2x.png  2x
            "
            alt="activity pic"
          />
        </picture>
      </div>
      <div class="activity__result block-style">
        <h3 class="section-title section-title--black activity__subtitle">
          More than 65,000 users around the world are already using OLMO
          actively
        </h3>
        <div class="activity__statistic">
          <p class="section-title section-title--black activity__counter">
            65K
          </p>
          <span class="desc activity__caption"
            >Active downloads from the community</span
          >
        </div>
        <div class="activity__rating">
          <p class="section-title section-title--black activity__score">4.86</p>
          <div class="activity__stars">
            <span class="activity__star">
              <svg class="activity__star-icon">
                <use xlink:href="img/sprite.svg#star-icon"></use>
              </svg>
            </span>
            <span class="activity__star">
              <svg class="activity__star-icon">
                <use xlink:href="img/sprite.svg#star-icon"></use>
              </svg>
            </span>
            <span class="activity__star">
              <svg class="activity__star-icon">
                <use xlink:href="img/sprite.svg#star-icon"></use>
              </svg>
            </span>
            <span class="activity__star">
              <svg class="activity__star-icon">
                <use xlink:href="img/sprite.svg#star-icon"></use>
              </svg>
            </span>
            <span class="activity__star">
              <svg class="activity__star-icon">
                <use xlink:href="img/sprite.svg#star-icon"></use>
              </svg>
            </span>
          </div>
          <span class="activity__total">8,376 Rating</span>
        </div>
      </div>
    </div>
  </div>
</section>
