<section class="automation pt-115">
  <div class="container">
    <div class="automation__wrap block-style">
      <div class="section-content automation__content">
        <div class="automation__block">
          <h2 class="section-title section-title--black automation__title">
            Work smarter with powerful automation
          </h2>
          <p class="section-desc section-desc--secondary automation__caption">
            Quaerat sodales sapien euismod blandit purus a purus ipsum primis in
            cubilia laoreet augue luctus magna dolor luctus and egestas sapien
            egestas vitae nemo volute
          </p>
          <div class="card automation__card">
            <div class="card__icon automation__icon">
              <svg class="card__svg automation__svg">
                <use xlink:href="img/sprite.svg#group-icon"></use>
              </svg>
            </div>
            <div class="card__content">
              <h3 class="card__title section-subtitle automation__subtitle">
                Send Group Messages
              </h3>
              <p class="card__desc section-desc automation__text">
                to your lists of contacts
              </p>
            </div>
          </div>

          <div class="card automation__card">
            <div class="card__icon automation__icon">
              <svg class="card__svg automation__svg">
                <use xlink:href="img/sprite.svg#data-icon"></use>
              </svg>
            </div>
            <div class="card__content">
              <h3 class="card__title section-subtitle automation__subtitle">
                Lowest Data Usage
              </h3>
              <p class="card__desc section-desc automation__text">
                with Encrypted Messaging
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-pic automation__pic">
        <picture class="picture">
          <source
            srcset="
              img/automation/automation@1x.webp,
              img/automation/automation@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="img/automation/automation@1x.png"
            srcset="
              img/automation/automation@1x.png,
              img/automation/automation@2x.png 2x
            "
            alt="automation pic"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
