<section class="benefits pt-115">
  <div class="container">
    <div class="benefits__wrap">
      <div class="benefits__top">
        <h2 class="section-title section-title--black benefits__title">
          We’re Better. Here’s Why…
        </h2>
        <p class="section-desc section-desc--secondary benefits__desc">
          Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis
          a libero tempus, blandit and cursus varius and magnis sapien
        </p>
      </div>

      <div class="benefits__card">
        <div class="card block-style">
          <div class="card__icon">
            <svg class="card__svg">
              <use xlink:href="img/sprite.svg#card-icon1"></use>
            </svg>
          </div>
          <h3 class="card__title section-subtitle">Friendly Interface</h3>
          <span class="card__desc section-desc">
            Feugiat primis ultrice semper lacus cursus feugiat undo primis
            ultrice a ligula an auctor tempus magnis
          </span>
        </div>

        <div class="card block-style">
          <div class="card__icon">
            <svg class="card__svg">
              <use xlink:href="img/sprite.svg#card-icon1"></use>
            </svg>
          </div>
          <h3 class="card__title section-subtitle">Extremely Flexible</h3>
          <span class="card__desc section-desc">
            Feugiat primis ultrice semper lacus cursus feugiat undo primis
            ultrice a ligula an auctor tempus magnis
          </span>
        </div>

        <div class="card block-style">
          <div class="card__icon">
            <svg class="card__svg">
              <use xlink:href="img/sprite.svg#card-icon1"></use>
            </svg>
          </div>
          <h3 class="card__title section-subtitle">Strong Encryption</h3>
          <span class="card__desc section-desc">
            Feugiat primis ultrice semper lacus cursus feugiat undo primis
            ultrice a ligula an auctor tempus magnis
          </span>
        </div>
      </div>
      <div class="benefits__bottom block-style">
        <div class="benefits__content section-content">
          <div class="benefits__block">
            <h3 class="section-title benefits__subtitle">
              Keep your favourite people close to you
            </h3>
            <p class="section-desc benefits__text">
              Fringilla risus, luctus mauris orci auctor euismod iaculis luctus
              magna purus pretium ligula purus undo quaerat tempor sapien rutrum
              mauris quaerat ultrice
            </p>
            <p class="section-desc benefits__text">
              Quaerat sodales sapien euismod purus blandit
            </p>
            <p class="section-desc benefits__text">
              Nemo ipsam egestas volute turpis dolores undo ultrice aliquam
              quaerat at sodales sapien purus
            </p>
          </div>
        </div>

        <div class="benefits__pic section-pic">
          <picture class="picture">
            <source
              srcset="
                img/benefits/benefits@1x.webp,
                img/benefits/benefits@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/benefits/benefits@2x.png"
              srcset="
                img/benefits/benefits@1x.png,
                img/benefits/benefits@2x.png 2x
              "
              alt="benefits pic"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
