<section class="faq pt-115">
  <div class="container">
    <h2 class="section-title section-title--black faq__title">
      Got Questions? Look Here
    </h2>
    <p class="section-desc section-desc--secondary faq__desc">
      Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis a
      libero tempus, blandit and cursus varius and magnis sapien
    </p>
    <div class="faq__answers">
      <div class="faq__item">
        <div class="faq__answer">
          <h3 class="section-subtitle faq__subtitle">
            Can I see OLMO in action before purchasing?
          </h3>
          <p class="section-desc faq__text">
            Etiam amet mauris suscipit in odio integer congue metus vitae arcu
            mollis blandit ultrice ligula egestas and magna suscipit lectus
            magna suscipit luctus blandit vitae
          </p>
        </div>
        <div class="faq__answer">
          <h3 class="section-subtitle faq__subtitle">
            Can I see OLMO in action before purchasing?
          </h3>
          <p class="section-desc faq__text">
            An enim nullam tempor sapien gravida a donec ipsum enim an porta
            justo integer at velna vitae auctor integer congue undo magna at
            pretium purus pretium
          </p>
        </div>
        <div class="faq__answer">
          <h3 class="section-subtitle faq__subtitle">
            Can I see OLMO in action before purchasing?
          </h3>
          <p class="section-desc faq__text">
            Fringilla risus, luctus mauris orci auctor purus ligula euismod
            pretium purus pretium rutrum tempor sapien
          </p>
          <p class="section-desc faq__text">
            Nemo ipsam egestas volute turpis dolores ut aliquam quaerat sodales
            sapien undo pretium a purus
          </p>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__answer">
          <h3 class="section-subtitle faq__subtitle">
            Can I see OLMO in action before purchasing?
          </h3>
          <p class="section-desc faq__text">
            Cubilia laoreet augue egestas and luctus donec curabite diam vitae
            dapibus libero and quisque gravida donec and neque. Blandit justo
            aliquam molestie nunc sapien
          </p>
        </div>
        <div class="faq__answer">
          <h3 class="section-subtitle faq__subtitle">
            Can I see OLMO in action before purchasing?
          </h3>
          <p class="section-desc faq__text">
            Etiam amet mauris suscipit sit amet in odio. Integer congue leo
            metus. Vitae arcu mollis blandit ultrice ligula An enim nullam
            tempor sapien gravida donec congue leo metus. Vitae arcu mollis
            blandit integer at velnas
          </p>
        </div>
        <div class="faq__answer">
          <h3 class="section-subtitle faq__subtitle">
            Can I see OLMO in action before purchasing?
          </h3>
          <p class="section-desc faq__text">
            Fringilla risus, luctus mauris orci auctor purus Quaerat sodales
            sapien euismod blandit purus and ipsum primis in cubilia laoreet
            augue luctus
          </p>
        </div>
      </div>
    </div>
    <h2 class="section-title section-title--black faq__title faq__more">
      Have more questions?
    </h2>
    <form class="form-box faq__form">
      <div class="form-box__wrap">
        <input
          class="input-reset section-desc form-box__input"
          type="text"
          name="search"
          placeholder="Ask your question here......"
          required
        />
        <button
          class="btn btn--secondary-accent btn-reset form-box__btn"
          type="submit"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</section>
