<section class="features pt-115">
  <div class="container">
    <div class="features__top">
      <div class="card block-style">
        <div class="card__icon">
          <svg class="card__svg">
            <use xlink:href="img/sprite.svg#card-icon1"></use>
          </svg>
        </div>
        <h3 class="card__title section-subtitle">Quick Access</h3>
        <p class="card__desc section-desc">
          Feugiat primis ultrice a semper lacus cursus feugiat a primis ultrice
          a ligula risus auctor
        </p>
      </div>
      <div class="card block-style">
        <div class="card__icon">
          <svg class="card__svg">
            <use xlink:href="img/sprite.svg#card-icon2"></use>
          </svg>
        </div>
        <div class="card__content">
          <h3 class="card__title section-subtitle">Cross-Platform</h3>
          <p class="card__desc section-desc">
            Feugiat primis ultrice a semper lacus cursus feugiat a primis
            ultrice a ligula risus auctor
          </p>
        </div>
      </div>

      <div class="card block-style">
        <div class="card__icon">
          <svg class="card__svg">
            <use xlink:href="img/sprite.svg#card-icon3"></use>
          </svg>
        </div>
        <h3 class="card__title section-subtitle">Easy Integration</h3>
        <p class="card__desc section-desc">
          Feugiat primis ultrice a semper lacus cursus feugiat a primis ultrice
          a ligula risus auctor
        </p>
      </div>
    </div>
    <div class="features__body pt-115">
      <div class="section-pic features__pic">
        <picture class="picture">
          <source
            srcset="
              img/features/features@1x.webp,
              img/features/features@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="features__img"
            src="img/features/features@1x.png"
            srcset="
              img/features/features@1x.png,
              img/features/features@2x.png 2x
            "
            alt="photo of a person who shares"
          />
        </picture>
      </div>
      <div class="features__content section-content">
        <div class="features__block">
          <h2 class="section-title features__title">
            Share files, media, and locations
          </h2>
          <p class="section-desc features__text">
            Quaerat sodales sapien euismod blandit purus a purus ipsum primis in
            cubilia laoreet augue luctus magna dolor luctus and egestas sapien
            egestas vitae nemo volute
          </p>
          <p class="section-desc features__text">
            Quaerat sodales sapien euismod blandit at vitae ipsum primis undo
            and cubilia laoreet augue and luctus magna dolor luctus at egestas
            sapien vitae nemo egestas volute and turpis dolores aliquam quaerat
            sodales a sapien
          </p>
        </div>
      </div>
    </div>
    <div class="features__bottom pt-115">
      <div class="features__wrap block-style">
        <div class="features__content section-content">
          <div class="card features__card">
            <div class="card__icon features__icon">
              <svg class="card__svg">
                <use xlink:href="img/sprite.svg#card-icon1"></use>
              </svg>
            </div>
            <div class="card__content">
              <h3 class="card__title section-subtitle features__subtitle">
                Cross-Platform
              </h3>
              <p class="card__desc section-desc features__desc">
                Ligula risus auctor tempus dolor feugiat undo lacinia purus
                lipsum quaerat primis ultrice tellus and viverra purus suscipit
              </p>
            </div>
          </div>
          <div class="card features__card">
            <div class="card__icon features__icon">
              <svg class="card__svg">
                <use xlink:href="img/sprite.svg#smile-icon"></use>
              </svg>
            </div>
            <div class="card__content">
              <h3 class="card__title section-subtitle features__subtitle">
                Cross-Platform
              </h3>
              <p class="card__desc section-desc features__desc">
                Ligula risus auctor tempus dolor feugiat undo lacinia purus
                lipsum quaerat primis ultrice tellus and viverra purus suscipit
              </p>
            </div>
          </div>

          <div class="card features__card">
            <div class="card__icon features__icon">
              <svg class="card__svg">
                <use xlink:href="img/sprite.svg#protection-icon"></use>
              </svg>
            </div>
            <div class="card__content">
              <h3 class="card__title section-subtitle features__subtitle">
                Cross-Platform
              </h3>
              <p class="card__desc section-desc features__desc">
                Ligula risus auctor tempus dolor feugiat undo lacinia purus
                lipsum quaerat primis ultrice tellus and viverra purus suscipit
              </p>
            </div>
          </div>
        </div>
        <div class="section-pic features__pic">
          <picture class="picture">
            <source
              srcset="
                img/features/features3@1x.webp,
                img/features/features3@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              class="features__img"
              src="img/features/features3@1x.png"
              srcset="
                img/features/features3@1x.png,
                img/features/features3@2x.png 2x
              "
              alt="photo of a person who shares"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
