<footer class="footer pt-115">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__item">
        <a href="#" class="logo footer__logo"
          ><img
            loading="lazy"
            src="img/logo.svg"
            class="logo__img"
            width="116"
            height="40"
            alt="logo"
        /></a>
        <p class="section-desc footer__desc">
          Aliquam nullam tempor sapien donec and gravida congue an ipsum porta
          justo velna auctor magna and laoreet augue an auctor gravida donec
        </p>
        <ul class="list-reset download footer__download">
          <li class="download__item">
            <a
              href="#"
              target="_blank"
              class="download__link download__link--appstore"
            >
              <img
                loading="lazy"
                src="img/appstore.svg"
                class="image"
                width="131"
                height="37"
                alt="App Store"
              />
            </a>
          </li>
          <li class="download__item">
            <a
              href="#"
              target="_blank"
              class="download__link download__link--googleplay"
            >
              <img
                loading="lazy"
                src="img/google-play.svg"
                class="image"
                width="131"
                height="37"
                alt="Google play"
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <nav class="footer-nav">
          <ul class="list-reset footer-nav__list">
            <span class="section-subtitle footer-nav__title">Company</span>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link">About Us</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link">Careers</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link"
                >Press &amp; Media</a
              >
            </li>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link">Contact Us</a>
            </li>
          </ul>
          <ul class="list-reset footer-nav__list">
            <span class="section-subtitle footer-nav__title">Discover</span>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link">Our Blog</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link">Advertising</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link"
                >Plans &amp; Pricing</a
              >
            </li>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link">Testimonials</a>
            </li>
          </ul>
          <ul class="list-reset footer-nav__list">
            <span class="section-subtitle footer-nav__title">Legal</span>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link">Terms of Use</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link"
                >Privacy Policy</a
              >
            </li>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link"
                >Cookie Policy</a
              >
            </li>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link">Site Map</a>
            </li>
          </ul>
          <ul class="list-reset footer-nav__list">
            <span class="section-subtitle footer-nav__title">Support</span>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link">FAQs</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link">Editor Help</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link">Community</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="section-desc footer-nav__link"
                >Live Chatting</a
              >
            </li>
          </ul>
        </nav>
        <form class="form-box">
          <div class="form-box__wrap">
            <input
              class="input-reset section-desc form-box__input footer__input"
              type="email"
              name="search"
              placeholder="Your email here..."
              required
            />
            <button
              class="btn btn--secondary-accent btn-reset form-box__btn footer__btn"
              type="submit"
            >
              subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__box">
        <span class="section-subtitle footer__copyright"
          >Copyright &#169; 2019</span
        >
        <ul class="list-reset footer-social">
          <li class="footer-social__item">
            <a
              href="#"
              target="_blank"
              class="footer-social__link footer-social__link--fb"
              aria-label="Our page in facebook"
              ><svg class="footer-social__icon">
                <use xlink:href="img/sprite.svg#facebook"></use></svg
            ></a>
          </li>
          <li class="footer-social__item">
            <a
              href="#"
              target="_blank"
              class="footer-social__link footer-social__link--inst"
              aria-label="Our page in instagram"
            ><svg class="footer-social__icon">
              <use xlink:href="img/sprite.svg#instagram"></use></svg</a>
          </li>
          <li class="footer-social__item">
            <a
              href="#"
              target="_blank"
              class="footer-social__link footer-social__link--tw"
              aria-label="Our page in twitter"
            ><svg class="footer-social__icon">
              <use xlink:href="img/sprite.svg#twitter"></use></svg</a>
          </li>
          <li class="footer-social__item">
            <a
              href="#"
              target="_blank"
              class="footer-social__link footer-social__link--in"
              aria-label="Our page in linkedin"
            ><svg class="footer-social__icon">
              <use xlink:href="img/sprite.svg#linkedin"></use></svg</a>
          </li>
          <li class="footer-social__item">
            <a
              href="#"
              target="_blank"
              class="footer-social__link footer-social__link--youtube"
              aria-label="Our page in youtube"
            ><svg class="footer-social__icon">
              <use xlink:href="img/sprite.svg#youtube"></use></svg</a>
          </li>
          <li class="footer-social__item">
            <a
              href="#"
              target="_blank"
              class="footer-social__link footer-social__link--pin"
              aria-label="Our page in pinterest"
            ><svg class="footer-social__icon">
              <use xlink:href="img/sprite.svg#pinterest"></use></svg</a>
          </li>
        </ul>
        <ul class="list-reset footer__contacts">
          <li class="footer__email footer__contact">
            <a
              href="mailto:hello@yourapp.com"
              target="_blank"
              class="section-subtitle footer__link"
              aria-label="Our page email address"
            ><svg class="footer__icon">
              <use xlink:href="img/sprite.svg#email-icon"></use>
            </svg>
             <span class="footer__span"> Hello@yourapp.com</span>
            </a>
          </li>
          <li class="footer__phone footer__contact">
            <a
              href="tel:+0000000000"
              target="_blank"
              class="section-subtitle footer__link"
              aria-label="Our page phone nummber"
              ><svg class="footer__icon">
                <use xlink:href="img/sprite.svg#phone-icon"></use>
              </svg><span class="footer__span">+000 000 00 00</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
