<header class="header header--position">
  <div class="container header__container">
    <div class="header__wrap">
      <a href="#" class="logo"
        ><img
          loading="lazy"
          src="img/logo.svg"
          class="logo__img"
          width="116"
          height="40"
          alt="logo"
      /></a>
      <div class="overlaybg"></div>
      <nav class="nav">
        <ul class="list-reset nav__list">
          <li class="nav__item nav__item--dropdown">
            <a href="#" class="nav__link">Home</a>
          </li>
          <li class="nav__item nav__item--dropdown">
            <a href="#" class="nav__link">About</a>
          </li>
          <li class="nav__item nav__item--dropdown">
            <a href="#" class="nav__link">Auth Pagea</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">Features</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Pricing</a></li>
        </ul>
        <a class="btn header__btn">Get Started</a>
      </nav>
      <button class="burger btn-reset">
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
