<section class="promo">
  <div class="container">
    <div class="promo__wrap">
      <div class="promo__content section-content">
        <div class="promo__block">
          <h1 class="section-title promo__title">
            Share text, voice, photos, videos and GIFs files for free
          </h1>
          <p class="section-desc promo__desc">
            Feugiat primis a ligula undo auctor mauris auctor laoreet and
            pretium augue an egestas cubilia
          </p>

          <div class="promo__cta">
            <button
              type="button"
              class="btn btn-reset promo__btn btn--secondary"
            >
              Learn More
            </button>
            <a href="#" class="promo__link"
              ><svg class="promo__icon">
                <use xlink:href="img/sprite.svg#play-icon"></use>
              </svg>
              OLMO in Action</a
            >
          </div>
          <ul class="advantages list-reset">
            <li class="advantages__item">
              <span class="advantages__text">14 days free trial</span>
            </li>
            <li class="advantages__item">
              <span class="advantages__text">No credit card</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="promo__pic section-pic">
        <picture class="picture">
          <source
            srcset="img/promo/promo-pic@1x.webp, img/promo/promo-pic@2x.webp 2x"
            type="image/webp"
          />
          <img
            class="promo__img"
            src="img/promo/promo-pic@1x.png"
            srcset="img/promo/promo-pic@1x.png, img/promo/promo-pic@2x.png 2x"
            alt="photo of a person who shares"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
