<section class="stories pt-115">
  <div class="container">
    <div class="stories__wrap block-style">
      <h2 class="section-title section-title--black stories__title">
        Stories From Our Customers
      </h2>
      <p class="section-desc section-desc--secondary stories__desc">
        Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis a
        libero tempus, blandit and cursus varius and magnis sapien
      </p>

      <div class="stories__pic">
        <picture class="picture">
          <source
            srcset="img/stories/stories@1x.webp, img/stories/stories@2x.webp 2x"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="img/stories/stories@2x.png"
            srcset="img/stories/stories@1x.png, img/stories/stories@2x.png 2x"
            alt="stories pic"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
