<section class="unlimited pt-115">
  <div class="container">
    <div class="unlimited__wrap block-style">
      <div class="section-pic unlimited__pic">
        <picture class="picture">
          <source
            srcset="
              img/unlimited/unlimited@1x.webp,
              img/unlimited/unlimited@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="img/unlimited/sunlimited@1x.png"
            srcset="
              img/unlimited/unlimited@1x.png,
              img/unlimited/unlimited@2x.png 2x
            "
            alt="unlimited pic"
          />
        </picture>
      </div>
      <div class="section-content">
        <div class="unlimited__block">
          <h2 class="section-title section-title--black unlimited__title">
            Unlimited calling, texting and picture messaging
          </h2>
          <p class="section-desc unlimited__desc">
            Quaerat sodales sapien euismod blandit at vitae ipsum primis undo
            and cubilia laoreet augue and luctus magna dolor luctus at egestas
            sapien vitae nemo egestas
          </p>
          <div class="unlimited__cta">
            <button class="btn btn-reset btn--secondary-accent">
              Let’s Get Started
            </button>
            <button class="btn btn-reset">View Pricing</button>
          </div>

          <ul class="advantages list-reset unlimited__advantages">
            <li class="advantages__item">
              <p class="advantages__text">14 days free trial</p>
            </li>
            <li class="advantages__item">
              <p class="advantages__text">Exclusive Support</p>
            </li>
            <li class="advantages__item">
              <p class="advantages__text">No Fees</p>
            </li>
          </ul>

          <ul class="list-reset download unlimited__download">
            <li class="download__item">
              <a
                href="#"
                target="_blank"
                class="download__link download__link--appstore"
              >
                <img
                  loading="lazy"
                  src="img/appstore-white.svg"
                  class="image"
                  width="131"
                  height="37"
                  alt="App Store"
                />
              </a>
            </li>
            <li class="download__item">
              <a
                href="#"
                target="_blank"
                class="download__link download__link--googleplay"
              >
                <img
                  loading="lazy"
                  src="img/google-white.svg"
                  class="image"
                  width="131"
                  height="37"
                  alt="Google play"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
