<section class="userdata pt-115">
  <div class="container">
    <div class="userdata__wrap">
      <div class="userdata__content section-content">
        <div class="userdata__block">
          <h2 class="section-title section-title--black userdata__title">
            No collection of user data. No Ads
          </h2>
          <p class="section-desc section-desc--secondary userdata__desc">
            Aliqum mullam blandit tempor sapien gravida at donec ipsum porta
            justo. Velna vitae auctor and congue magna impedit luctus dolor
            volute
          </p>
          <p class="section-desc section-desc--secondary userdata__desc">
            Aliqum mullam blandit tempor sapien gravida at donec ipsum porta
            justo. Velna vitae auctor and congue magna impedit luctus dolor
            volute
          </p>
          <p class="section-desc section-desc--secondary userdata__desc">
            Aliqum mullam blandit tempor sapien gravida at donec ipsum porta
            justo. Velna vitae auctor and congue magna impedit luctus dolor
            volute
          </p>
          <ul class="list-reset download userdata__download">
            <li class="download__item">
              <a
                href="#"
                target="_blank"
                class="download__link download__link--appstore"
              >
                <img
                  loading="lazy"
                  src="img/appstore.svg"
                  class="image"
                  width="131"
                  height="37"
                  alt="App Store"
                />
              </a>
            </li>
            <li class="download__item">
              <a
                href="#"
                target="_blank"
                class="download__link download__link--googleplay"
              >
                <img
                  loading="lazy"
                  src="img/google-play.svg"
                  class="image"
                  width="131"
                  height="37"
                  alt="Google play"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="userdata__pic section-pic">
        <picture class="picture">
          <source
            srcset="img/userdata/data@1x.webp, img/userdata/data@2x.webp 2x"
            type="image/webp"
          />
          <img
            src="img/userdata/data@1x.png"
            srcset="img/userdata/data@1x.png, img/userdata/data@2x.png 2x"
            alt="userdata pic"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
